body,
a,
i,
li,
ul {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    height: 100%;
    list-style: none;
}

.header {}

.nav {
    text-align: center;
    justify-content: space-between;
    color: #FF0000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2.7px;
}

.nav a {
    color: #FF0000;
}

.nav li {
    display: inline-block;
    margin: 30px;
}

.main {
    display: block;
    text-align: center;
    color: #373737;
}

.main__bg {
    position: relative;
}

.main__title {
    line-height: 26px;
    letter-spacing: 3.3px;
}

.main__subtitle {}

.btn {
    margin-top: 50px;
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    border-radius: 4px;
    border: none;
}

.footer {
    font-weight: 700;
    line-height: 20px;
    text-align: end;
    letter-spacing: 2.4px;
}